<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/vchod.png') }}" type="image/x-vchod">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- Ajax script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script_login.js') }}"></script>
</head>
<body>
<form action="{{WEB}}/auth" name="Form" method="POST" onSubmit="return validateForm();">
    <ul>
        <header>
            <h1>Formularz logowania</h1>
        </header>
        <legend>pola oznaczone <span class="star">*</span> są obowiązkowe</legend>

        <li id="li_login">
            <label>Login <span class="star">*</span></label>
            <input type="text" id="login" name="login" class="field-long" placeholder="Login" required>
        </li>

        <li id="li_password">
            <label>Password <span class="star">*</span></label>
            <input type="password" id="password" name="password" class="field-long" placeholder="haslo" required>
        </li>

        <li id="li_subtmit">
            <input type="submit" id="Submit" value="Log In">
        </li>
    </ul>
</form>
<form action="{{WEB}}/auth0_login">
    <ul>
        <li id="li_submit">
            <input type="submit" id="auth" value="Zaloguj przy uzyciu auth0.com">
        </li>
    </ul>
</form>
</body>
</html>
