<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href= "{{ url_for('static',filename='image/vchod.png') }}" type="image/x-vchod">
    <!-- My CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- Ajax script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script_upload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script_pdf.js') }}"></script>
</head>
<noscript>
    <div>Brak włączonej obsługi języka JavaScript</div>
</noscript>

<body>
	<form name ="myForm" action="http://localhost:3000/upload-image" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <ul>
            <header>
                <h1>Send PDF File</h1>
            </header>
            <legend>pola oznaczone <span class="star">*</span> są obowiązkowe</legend>

            <li id="li_login">
                <label>Choose PDF to upload <span class="star">*</span></label>
                <input name="pdf" id="pdf" type="file" accept=".pdf" onchange="show(this)" multiple>
            </li>
            <li id="li_submit">
                <input type="submit" id="Submit" value="Send">
                <button type="button" id="refresh" name="refresh">Show article</button>
            </li>
            <li id="li_login">
                <a href="http://localhost:3000/logout" id="logout"> Logout</a>
            </li>
        </ul>
    </form>
    <div id="myList">
        <ul id="lista">
        </ul>
    </div>
</body>
</html>