body {
    background-image: url("../image/bg.png");
}

h1 {
    font-family: 'Raleway';
    font-size: 48px;
    letter-spacing: 10px;
    color: #F36801;
    text-align: center;
    text-shadow: 4px 4px 8px black;
}

h1:hover {
    font-family: 'Raleway';
    font-size: 48px;
    letter-spacing: 10px;
    color: #ffb870;
    text-align: center;
    text-shadow: 4px 4px 8px black;
}

ul {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
    padding: 0;
    list-style: none;
    margin: 10px 0 0 0;
}

label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

input[type=text],
input[type=date],
input[type=password],
input[type=file],
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #feeddc;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=file]:focus,
select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #f07a05;
}

.field-divided {
    width: 100%;
}

.field-long {
    width: 100%;
}

.field-select {
    width: 100%;
}

input[type=submit] {
    background: #fe7f00;
    margin-top: 15px;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-size : 30px;
    width: 100%; height: 60px;
}

input[type=submit]:hover {
    background: #f57a00;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
}

.required,small,p {
    color: red;
    font-size : 15px;
}
.star {
    color:red;
}
#refresh {
    background: #fe7f00;
    margin-top: 15px;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-size : 30px;
    width: 100%; height: 60px;
}
#refresh:hover{
    background: greenyellow;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
}

#logout {
    background: mediumvioletred;
    margin-top: 15px;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-size : 30px;
    width: 100%; height: 60px;
}
#logout:hover{
    background: red;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
}

logg




/*
input:not([type='radio']):hover {
        border-color: lightgray;
        border-width: 3px;
        margin-left: -2px;
        margin-right: -2px;
        margin-top: 3px;
        margin-bottom: 2px; 
}*/
